@import "../utilities/variables";
@import "../utilities/animations";

nav.elite--nav {
  background-color: black;
  padding-top: 0;
  padding-bottom: 0;
}

a.nav--link.nav-link {
  color: white !important;
  font-family: $font-3;
  font-size: xx-large;
  letter-spacing: 2px;
  transition: all .3s;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: $silver !important;
  }
}

a.nav--link.navbar-brand {
  color: $silver;
  font-family: $font-1;
  font-size: 3em;
  &:hover {
    color: white !important;
  }
}

a.dropdown-toggle.nav-link {
  color: white !important;
}

a.dropdown-toggle.nav-link {
  font-family: $font-1;
  color: $silver !important;
  margin-top: 12px;
}

.navbar-toggler {
  background-color: $silver !important;
}