@import "../utilities/variables";

.story--page--image {
  float: left;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.story--image {
  width: 100%;
}

.story--category {
  font-family: $font-3;
  color: $gold;
  letter-spacing: 1.2px;
  font-size: x-large;
  margin-top: 1.5%;
}

.story--subtitle {
  font-family: $font-2;
  font-size: large;
  letter-spacing: 0.6px;
  color: grey;
  font-weight: 600;
  line-height: 23px;
}

.story--title {
  font-family: $font-3;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 1.1px;
  color: black;
}

.story--author {
  font-family: $font-2;
  font-size: large;
  letter-spacing: 0.6px;
  color: grey;
  font-weight: 400;
  line-height: 23px;
}

.content--container {
  font-family: $font-3;
  padding-left: 10%;
  padding-right: 10%;
  p {
    overflow-x: scroll;
    letter-spacing: 0.2px;
    line-height: 30.6px;
    font-weight: 500;
    font-size: 18px;
    color: black;
    font-family: $font-2;
    font-stretch: 100%;
    img {
      width: 100% !important;
    }
  }
  .story--title {
    font-size: xx-large;
    letter-spacing: 2px;
    color: black;
  }
}

.story {
  position: relative;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    color: darkslategrey;
    font-size: xx-large;
  }
}

.story.featured {
  border-bottom: 0px;
  .story--title {
    font-size: xxx-large;
  }
}

.main--section.container {
  padding-top: 20px;
}

.featured--section .row {
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.story--image.featured {
  max-height: 60vh;
  height: 50vh;
  max-width: 100%;
  width: auto;
}

.featured--section.col-md-8 {
  height: 80vh;
}

.story--view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story--meta--container {
  height: 7vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 29px;
  font-family: $font-2;
  color: grey;
  font-weight: 600;
}

.story.story--thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: $border-style;
  padding-bottom: 20px;
  a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
  }
}

.story--image--container {
  .story--image {
    max-width: 300px;
  }
}
.story--thumbnail--info--container {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-left: 50px;
  margin-top: 20px;
}

.story--category--thumbnail {
  margin: 0;
  margin-bottom: 20px;
}

.story--title--thumbnail {
  font-size: 1.4rem;
  letter-spacing: 1.7px;
  margin-bottom: 20px;
}
.reading-progress-bar {
  position: sticky;
  height: 7px;
  top: 0;
  z-index: 1000;
  background-color: $faded-gold;
}

.author--info {
      font-family: $font-3;
    font-size: 18px;
    letter-spacing: 1.2px;
    color: grey;
    font-weight: 400;
    line-height: 23px;
}