@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@font-face {
  font-family: "Hyogo";
  src: url("../fonts/HyogoDemo.eot");
  /* IE9 Compat Modes */
  src:
        /* IE6-IE8 */
        /* url('webfont.woff2') format('woff2'), */
        /* Super Modern Browsers */ url("../fonts/HyogoDemo.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/HyogoDemo.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/HyogoDemo.svg") format("svg");
  /* Legacy iOS */
}

$font-1: "Permanent Marker";

$font-2: "Metrophobic";

$font-3: "VT323";

$gold: #dea30d;
$faded-gold: rgba(222, 163, 13, 0.5);

$silver: #888888;
$border-style: 7px solid lighten($faded-gold, 40%);
