@import './utilities/animations';
@import './utilities/variables';

body {
  font-family: $font-1;
}

@import './splash/splash.scss';

a {
  text-decoration:  none;
}

.font-2 {
  font-family: $font-2 !important;
}