@import "../utilities/variables";

body {
  font-family: $font-1;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

.font-2 {
  font-family: $font-2 !important;
}
